@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #1b1b1bff;
  --secondary: #2c2c2cff;
  --tertiary: #444444ff;
  --dark-1: #1e1e1eff;
  --light-1: #eaeaeaff;
  --light-2: #ffffffff;
  --accent-1: #ff6b6bff;
  --accent-2: #00adb5ff;
  --accent-3: #ffcc29ff;
  --accent-4: #4e9f3d;
  --gray-1: #575757;
  --difficulty-1: #4caf50;
  --difficulty-2: #ffc107;
  --difficulty-3: #d32f2f;
  --warning: #ff1c1c;
}

body {
  background-color: var(--primary) !important;
  height: 100vh;
}

html {
  font-family: "Poppins", sans-serif;
}
