[ req ]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[ dn ]
CN = *.${DOMAIN_SUFFIX}

[ v3_req ]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = ${DOMAIN_SUFFIX}
DNS.2 = *.${DOMAIN_SUFFIX}
DNS.3 = *.relying-party.${DOMAIN_SUFFIX}
DNS.4 = *.trusted-list.${DOMAIN_SUFFIX}
DNS.5 = *.pid-provider.${DOMAIN_SUFFIX}
DNS.6 = *.wallet-backend.${DOMAIN_SUFFIX}
DNS.7 = *.wallet-frontend.${DOMAIN_SUFFIX}
