[ req ]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[ dn ]
CN = *.wallet.test

[ v3_req ]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = wallet.test
DNS.2 = *.wallet.test
DNS.3 = *.relying-party.wallet.test
DNS.4 = *.trusted-list.wallet.test
DNS.5 = *.pid-provider.wallet.test
DNS.6 = *.wallet-backend.wallet.test
DNS.7 = *.wallet-frontend.wallet.test
